[database]
database_host = localhost
database_name = airflow_reddit
database_port = 5432
database_username = postgres
database_password = postgres

[file_paths]
input_path = /opt/airflow/data/input
output_path = /opt/airflow/data/output

[api_keys]
reddit_secret_key = [Reddit Secret Key]
reddit_client_id = [Reddit Client ID]
reddit_user_agent = [Reddit User Agent]

[aws]
aws_access_key_id = [AWS ACCESS ID]
aws_secret_access_key= [AWS SECRET ACCESS KEY]
aws_session_token= [AWS SESSION TOKEN]
aws_region =[AWS REGION]
aws_bucket_name = [AWS S3 BUCKET NAME]

[etl_settings]
batch_size = 100
error_handling = abort
log_level = info
